
#container {
  width: 50%;
  margin: 0 auto;
}

.item {
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

h1 {
  text-align: center;
}

#stats-div {
  width: 25%;
  float: right;
  margin-top: 10px;
  padding-left: 20px;
}

#search-div {
  width: 25%;
  float: left;
}

.tag-image {
  width: 150px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#tag-results {
  text-align: center;
}

#stats {
  margin-top: 10px;
  margin-right: 20px;
}

body {
  font-size: x-large !important;
  overflow: hidden;
}

.badge {
  font-size: xx-large !important;
}

.progress {
  height: 40px !important;
}

.progress-bar {
  font-size: x-large !important;
  padding-top: 10px !important;
}

form {
  margin-top: 10px !important;
}